.hero-img {
    width: 100%;
    height: 500px;
    background-image: url("../images/ultras-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}