<div class="nav-wrapper">
    <div class="container">
        <nav class="nav">
            {% for item in site.data.navigation %}
                {% if page.url == item.link %}
                    {% assign active = "active" %}
                {% else %}
                    {% assign active = "" %}
                {% endif %}
                <a href="{{ item.link }}" class="nav-link {{ active }}">
                    {{ item.name }}
                </a>
            {% endfor %}
        </nav>
    </div>
</div>